<div class="root">
    <div class="contactDiv">
        <h3>Contact Me</h3>
        <b>I would love to hear from you</b><br/>
        Whether it is to talk sports or business opportunities, I don't care!
      </div>
      <div class="contactDiv">
        <h3>Direct Contact</h3>
        The best way to contact me is via email. <br/>
        <div class="iconDiv">
            <a href="mailto:parrish.de@gmail.com"><mat-icon class="svg24" aria-label="Email" matTooltip="Email Me"  svgIcon="email"></mat-icon></a>
        </div>
      </div>
      <div class="contactDiv">
        <h3>Social Media</h3><br/>
        If you liked what you saw here, please feel free to contact me on various social media outlets! Links to my accounts are below.
        <div class="iconDiv">
            <a href="http://www.linkedin.com/pub/dean-parrish/77/817/926"><mat-icon class="svg22" aria-label="linkedin" matTooltip="Connect with me!"  svgIcon="linkedin"></mat-icon></a>
            <a href="https://github.com/DeanParrish"><mat-icon class="svg20" aria-label="Github" matTooltip="Check out my projects" svgIcon="github"></mat-icon></a>
        </div> 
      </div>
</div>
