<p>
  
  
</p>
<div class="container">
    <div class="row">
      <div class="col">
        
          <a class="nav-link thumbnail-link" data-tooltip="This pr s" href="/projects/daycounter"><img src="../../assets/images/projectthumbnails/daycounterthumb.png"/></a>
      </div>
      <div class="col">
        <div class="projectOverview">
            This projects allows you to view current and historical for chosen currencies. You can also convert currencies. *All based on value of 1 Euro
          </div>
        <a class="nav-link thumbnail-link" href="/projects/currencyconverter"><img src="../../assets/images/projectthumbnails/currencythumb.png"/></a>
      </div>
    </div>
    <div class="row">
      <div class="col">
        1 of 3
      </div>
      <div class="col">
        2 of 3
      </div>
      <div class="col">
        3 of 3
      </div>
    </div>
  </div>
