<div class="homeHeadWrapper">
    <img class="homeBackground"src="../../assets/images/homePic.jpg">
    <div class="infoWrapper">
        <div class="myPicture"><img src="../../assets/images/me.jpg"></div>
        <div class="name"><b>Dean Parrish</b></div>
        <div class="info">I play on the computer</div>
        <div class="contactBar">
            <a class="contactButton" href="mailto:parrish.de@gmail.com"><mat-icon class="svgEmail" aria-label="Email" matTooltip="Email Me"  svgIcon="email"></mat-icon></a>
            <a class="contactButton" href="http://www.linkedin.com/pub/dean-parrish/77/817/926"><mat-icon class="svgLinkedin" aria-label="linkedin" matTooltip="Connect with me!"  svgIcon="linkedin"></mat-icon></a>
            <a class="contactButton" href="https://github.com/DeanParrish"><mat-icon class="svg20" aria-label="svgGithub" matTooltip="Check out my projects" svgIcon="github"></mat-icon></a>
        </div>
    </div>
</div>
<div class="homeWrapper">
    <!-- <app-login-button></app-login-button> -->
    
    <app-logout-button></app-logout-button>

    <div class="homeSection">
      <h2>About Me</h2>
    </div>
    <div class="homeSection">
        I'm an aspiring developer who has interests in the Microsoft technology stack, simple designs, and learning new technologies. And football.
    </div>
    <div class="homeSection">
        Located in Augusta, Georgia, I spend most of my time doing the same thing you are at this moment – staring at a computer screen. I wouldn't have it any other way.
    </div>
    <div class="homeSection">
        This site contains various projects that I have completed during my time at Augusta Technical College, for clients, or just playing around in my spare time.
    </div>
    <div class="homeSection">
        Feel free to contact me about job opportunities, Web design help, or just to connect. Or to talk about football, I don't care if it is the middle of March, we can find something to talk about!
    </div>
</div>

