<p>
  
  
</p>
<div class="container">
    <div class="row">
      <div class="col">
        <div class="projectOverview">
          This project allows you to calculate the days between either two dates or the end of the year.
        </div>
          <a class="nav-link thumbnail-link" data-tooltip="This project calculates days between dates" href="/projects/daycounter"><img src="../../assets/images/projectthumbnails/daycounterthumb.png"/></a>
      </div>
      <div class="col">
        <div class="projectOverview">
          This projects allows you to view current and historical for chosen currencies. You can also convert currencies. *All based on value of 1 Euro
        </div>
        <a class="nav-link thumbnail-link" data-tooltip="This displays and converts currencies" href="/projects/currencyconverter"><img src="../../assets/images/projectthumbnails/currencythumb.png"/></a>
      </div>
    </div>
  </div>
