<main>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Dean Parrish</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/test">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/test">Contact</a>
            </li>
          </ul>
        </div>
      </nav>    
	<router-outlet></router-outlet>
</main>
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  
  <div class="footer-copyright text-center py-3">
      <a href="mailto:parrish.de@gmail.com"><mat-icon class="svg24" aria-label="Email" matTooltip="Email Me"  svgIcon="email"></mat-icon></a>
      <a href="http://www.linkedin.com/pub/dean-parrish/77/817/926"><mat-icon class="svg22" aria-label="linkedin" matTooltip="Connect with me!"  svgIcon="linkedin"></mat-icon></a>
      <a href="https://github.com/DeanParrish"><mat-icon class="svg20" aria-label="Github" matTooltip="Check out my projects" svgIcon="github"></mat-icon></a>
      <!-- © 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


