<main>
  <h1><title>Welcome to my-test-angular-app!</title></h1>
  <app-navbar></app-navbar>
  <!-- <a *ngIf="currentUser" class="nav-item nav-link" style="cursor:pointer" (click)="logout()">Logout</a> -->
	<router-outlet></router-outlet>
</main>
<footer class="page-footer font-small blue">
  <!-- Copyright -->
  
  <div class="footer-copyright text-center py-3">
      <a href="mailto:parrish.de@gmail.com"><mat-icon class="svg24" aria-label="Email" matTooltip="Email Me"  svgIcon="email"></mat-icon></a>
      <a href="http://www.linkedin.com/pub/dean-parrish/77/817/926"><mat-icon class="svg22" aria-label="linkedin" matTooltip="Connect with me!"  svgIcon="linkedin"></mat-icon></a>
      <a href="https://github.com/DeanParrish"><mat-icon class="svg20" aria-label="Github" matTooltip="Check out my projects" svgIcon="github"></mat-icon></a>
      <!-- © 2018 Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a> -->
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


