<form [formGroup]="registerForm" *ngIf="registerEmailClicked == true">
    <div class='registerType'>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" formControlName="email" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" required>
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="passwordConfirm" required>
        <div *ngIf="registerForm.errors?.passwordError && (registerForm.value.passwordConfirm != '')" class="cross-validation-error-message alert alert-danger">
          password mismatch
          </div>
        <label class="error">{{errorMessage}}</label>
        <label class="success">{{successMessage}}</label>
      </div>
      <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-default">Register</button>
    </div>
 </form>
 <div class='registerType'>
  <button (click)="showEmailForm()" mat-button style="padding: 1rem;">
    <mat-icon style="width: 50px; height:30px"
              svgIcon="email"></mat-icon> Register With Email
</button>
</div>
 <div class='registerType'>
<button (click)="loginWithGoogle()"mat-button style="padding: 1rem;">
    <mat-icon style="width: 50px; height:30px"
              svgIcon="imgGoogle"></mat-icon> Register With Google
</button>
</div>
<div class='registerType'>
  <button mat-dialog-close mat-button style="padding: 1rem;">
    <mat-icon aria-hidden="false" aria-label="Example home icon"></mat-icon> Nevermind
</button>
</div>