<div class="app-customer-info">
    <a routerLink="/test">TestLink</a>
  customer-info works! YEAH!
  <button mat-raised-button color="primary" (click)="openNewPersonModal()">New Question</button>

  <mat-list class="list">
      <!-- <a *ngFor="let person of data" onclick="clickedPerson(person)">
          <mat-list-item class="list-item">
            {{ person.firstName }}
          </mat-list-item>
      </a> -->
      <mat-list-item class="list-item" *ngFor="let person of data"  (click)="clickedPerson(person)">
        {{ person.firstName }}
      </mat-list-item>
  </mat-list>

  <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite food" value="Sushi">
      </mat-form-field>
    
      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </form>
</div>
